[color]
  ui = auto
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
[core]
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
  editor = vim
  # Unicode
  precomposeunicode = true
  quotepath = true
  commentchar = ";"
[alias]
  br = branch
  co = checkout
  pl = pull
  fe = fetch
  st = status
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  conflicts = !git ls-files -u | cut -f 2 | sort -u
  al = "!f() {\
    if [ \"$#\" -eq 0 ];then \
      git config --name-only --get-regexp ^alias\\.|cut -d"." -f2|column;\
      return;\
    fi;\
    ret=0;\
    for a in \"$@\";do \
      git config --get-regexp ^alias\\.\"$a\"$;\
      rettmp=$?;\
      if [ $rettmp != 0 ];then \
        ret=$rettmp;\
        printf \"\\e[31malias.$a is not defined as alias\\n\\e[m\";\
      fi;\
    done;\
    return $ret;\
  };f"
  sw = switch
[push]
  default = upstream
[credential]
  helper = osxkeychain
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path = 
[mergetool "sourcetree"]
  cmd = /opt/homebrew-cask/Caskroom/sourcetree/2.0.4/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[fetch]
  prune = true
[user]
  useConfigOnly = true
